<div>
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <img src="{{ 'https://devonburriss.me/img/avatar.jpg' | prepend : site.url }}"/>
        <meta itemprop="url" content="{{ 'img/avatar.jpg' | prepend : site.baseurl }}">
        </div>
        <meta itemprop="name" content="Devon Burriss">
    </div>
    <p>
        A South African living in Rotterdam, Netherlands. Software development, clean code, functional programming, Domain-Driven Design, TDD, other acronyms. Basically I just like learning new things and want to get better at what I love doing. Occassionally I write about what I learn here.
    </p>
</div>
<br/>