<h3>About me</h3>
<div>
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <img class="img-rounded pull-right" src="{{ 'img/avatar.jpg' | prepend : site.url }}" width="33%" style="margin-left: 1em;"/>
        <meta itemprop="url" content="{{ 'img/avatar.jpg' | prepend : site.url }}">
        </div>
        <meta itemprop="name" content="Devon Burriss">
    </div>
    <p align="justify">
        A South African living in Rotterdam, Netherlands. Software development, clean code, functional programming, Domain-Driven Design, TDD, other acronyms. Basically I just like learning new things and want to get better at what I love doing. Occassionally I write about what I learn here.
    </p>
</div>